# Python virsual environment 
__pycache__/
*.pyc
*.pyo
.venv/
.env
gogui
jre1.8.0_441
np
random
copy
gc
sys
gogui-client.exe
itertools
ludii_preferences.json
Ludii.jar
ludii.trl
math
value_approximator_4.pkl
value_approximator_5.pkl
value_approximator_5_weights.pkl


# ignore eval.py
eval.py
