# Python virsual environment 
__pycache__/
*.pyc
*.pyo
.venv/
.env
gogui
jre1.8.0_441
np
random
copy
gc
sys
gogui-client.exe
itertools
ludii_preferences.json
Ludii.jar
ludii.trl
math


# ignore eval.py
eval.py
